header h3{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.icono{
    padding-top: 5%;
    padding-left: 0;
    width:10%;
}
header i{
    font-size: 120%;
    left:14px;
}
.glyphicon {
    top:5px;
}
.peru {
    display: inline-block;
    padding-right: 10px;
}
.input-group-btn{
    width: 50px;
}
.btn .caret {
    margin-left: -8px;
}
.btn-next {
    background:#ff00bf;
    width: 100%;
    border: none;
    color: #fff;
    padding: 5% 0;
    margin-top: 30px;
}
.icon-user {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.input-contact {
    padding-left: 30px;
}
label {
   display: block;
}
.code {
    position: absolute;
    z-index:10;
    top:22%;
    left:22%;
}
#number {
    padding-left: 45px;
}
