@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fkjzes');
  src:  url('fonts/icomoon.eot?fkjzes#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fkjzes') format('truetype'),
    url('fonts/icomoon.woff?fkjzes') format('woff'),
    url('fonts/icomoon.svg?fkjzes#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots-three-vertical:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-full-moon:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
}

