@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nbufe1');
  src:  url('fonts/icomoon.eot?nbufe1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nbufe1') format('truetype'),
    url('fonts/icomoon.woff?nbufe1') format('woff'),
    url('fonts/icomoon.svg?nbufe1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\f003";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-mail-envelope-closed:before {
  content: "\e900";
}

